*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: @font-family;
    font-size: unit(@font-size, px);
    line-height: @line-height;
    color: @color;
    text-align: left;
    background-color: @body-bg-color;
}

view,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

details,
details[open] {
    outline: 0;
}

figure {
    margin: 0;
}

menu {
    padding: unit(@font-size, px) unit(round(@font-size / 2), px);
    margin: 0;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

progress {
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none !important;
}

[tabindex='-1']:focus:not(:focus-visible) {
    outline: 0 !important;
}

a {
    position: relative;
    color: @color-primary;
    text-decoration: none;
    transition: all 0.36s;

    &:active,
    &:hover {
        outline: 0;
    }

    &[href] {
        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 0;
            content: '';
            border-bottom: @border-width solid @color-primary;
            transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1);
            transform: scale3d(0, 1, 1);
            transform-origin: center bottom;
        }

        &.dotted {
            &::after {
                border-bottom-style: dotted;
            }
        }

        &.dashed {
            &::after {
                border-bottom-style: dashed;
            }
        }

        &:hover {
            color: darken(@color-primary, 10%);

            &::after {
                transform: scale3d(1, 1, 1);
            }
        }
    }

    &:not([href]) {
        color: inherit;
        text-decoration: none;
    }
}

abbr[title],
abbr[data-original-title] {
    color: @color-primary;
    text-decoration: none;
    cursor: help;
    border-bottom: @border-width dashed @color-primary;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

small {
    font-size: 85%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;

    small {
        font-weight: normal;
        line-height: 1;
        color: @color-primary;
    }
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    padding: unit(round(@font-size * 1.5), px) 0 unit(@font-size, px) 0;
    margin: 0;

    small {
        font-size: 65%;
    }
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    padding: unit(@font-size, px) 0 unit(@font-size, px) 0;
    margin: 0;

    small {
        font-size: 75%;
    }
}

.h-x();

mark {
    padding: unit(round(@font-size * 0.3), px) unit(round(@font-size * 0.6), px);
    overflow: hidden;
    color: #fff;
    background-color: @color-dark;
    border-radius: unit(round(@font-size * 0.3), px);
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: unit(round(-@font-size * 0.5), px);
}
sub {
    bottom: unit(round(-@font-size * 0.5), px);
}

img {
    vertical-align: middle;
    border: 0;
    border-style: none;
}

svg {
    vertical-align: middle;

    &:not(:root) {
        overflow: hidden;
    }
}

hr {
    height: 0;
    margin: unit(@font-size, px) 0;
    border: 0;
    border-top: @border-width solid @color-border;
}

pre,
code,
kbd,
samp {
    font-family: @font-family-code;
}

pre {
    display: block;
    padding: unit(round(@font-size * 0.6), px) unit(round(@font-size * 1.2), px);
    margin: 0;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: unit(round(@font-size * 0.6), px);
    page-break-inside: avoid;
}

code {
    display: inline-block;
    padding: unit(round(@font-size * 0.3), px) unit(round(@font-size * 0.6), px);
    font-size: 90%;
    color: @color-danger;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: unit(round(@font-size * 0.3), px);
}

pre code,
a code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

kbd {
    padding: unit(round(@font-size * 0.3), px) unit(round(@font-size * 0.6), px);
    overflow: hidden;
    font-size: 90%;
    color: #fff;
    background-color: @color-dark;
    border-radius: unit(round(@font-size * 0.3), px);

    kbd {
        padding: 0;
        font-size: 100%;
        font-weight: bold;
        box-shadow: none;
    }
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    display: inline-block;
    padding: unit(round(@font-size * 0.7), px) unit(round(@font-size * 1.4), px);
    overflow: hidden;
    font-size: unit(@font-size, px);
    line-height: 1;
    text-transform: none;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    border: @border-width solid @color-border;
    border-radius: unit(round(@font-size * 0.3), px);
    outline: none;
    transition: all 0.3s;

    &.xs {
        padding: unit(round(@font-size * 0.5), px) unit(round(@font-size * 0.9), px);
        font-size: unit(round(@font-size * 0.7), px);
        border-radius: unit(round(@font-size * 0.2), px);
    }

    &.sm {
        padding: unit(round(@font-size * 0.6), px) unit(round(@font-size * 1), px);
        font-size: unit(round(@font-size * 0.85), px);
        border-radius: unit(round(@font-size * 0.2), px);
    }

    &.md {
        padding: unit(round(@font-size * 0.7), px) unit(round(@font-size * 1.4), px);
    }

    &.lg {
        padding: unit(round(@font-size * 0.85), px) unit(round(@font-size * 1.4), px);
    }

    &.xl {
        padding: unit(round(@font-size * 0.9), px) unit(round(@font-size * 1.6), px);
        font-size: unit(round(@font-size * 1.15), px);
    }

    &[type='submit'] {
        color: @color-primary;
        border: @border-width solid @color-primary;

        &[disabled] {
            color: mix(#fff, @color-primary, 50%);
            border: @border-width solid mix(#fff, @color-primary, 50%);
        }
    }

    &:not([disabled]):hover {
        background-color: mix(#fff, @color-border, 20%);

        &[type='submit'] {
            color: #fff;
            background-color: mix(#fff, @color-primary, 5%);
        }
    }
}

button,
input {
    &[disabled] {
        cursor: default;
    }

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[type='color'],
select {
    display: inline-block;
    height: unit(round(@font-size * 2.55), px);
    padding: unit(round(@font-size * 0.2), px) unit(round(@font-size * 0.8), px);
    font-size: unit(round(@font-size * 1), px);
    border: @border-width solid @color-border;
    border-radius: unit(round(@font-size * 0.3), px);
    transition: all 0.3s;

    &.xs {
        height: unit(round(@font-size * 2), px);
        padding: unit(round(@font-size * 0.1), px) unit(round(@font-size * 0.5), px);
        font-size: unit(round(@font-size * 0.7), px);
        border-radius: unit(round(@font-size * 0.2), px);
    }

    &.sm {
        height: unit(round(@font-size * 2.15), px);
        padding: unit(round(@font-size * 0.1), px) unit(round(@font-size * 0.5), px);
        font-size: unit(round(@font-size * 0.85), px);
        border-radius: unit(round(@font-size * 0.2), px);
    }

    &.md {
        height: unit(round(@font-size * 2.55), px);
        padding: unit(round(@font-size * 0.2), px) unit(round(@font-size * 0.8), px);
    }

    &.lg {
        height: unit(round(@font-size * 2.85), px);
        padding: unit(round(@font-size * 0.2), px) unit(round(@font-size * 0.8), px);
    }

    &.xl {
        height: unit(round(@font-size * 3.15), px);
        padding: unit(round(@font-size * 0.2), px) unit(round(@font-size * 0.8), px);
        font-size: unit(round(@font-size * 1.15), px);
    }

    &:focus {
        border: @border-width solid @color-primary;
        box-shadow: 0 0 3px lighten(@color-primary, 20%);
    }

    &[disabled] {
        opacity: 0.6 !important;
    }
}

input {
    line-height: normal;
    outline: none;

    &[type='checkbox'],
    &[type='radio'] {
        box-sizing: border-box;
        width: unit(round(@font-size * 1.2), px);
        height: unit(round(@font-size * 1.2), px);
        padding: 0;
        margin: 0;
        line-height: normal;
        vertical-align: middle;
        cursor: pointer;
        transition: all 0.3s;

        &.xs {
            width: unit(round(@font-size * 0.8), px);
            height: unit(round(@font-size * 0.8), px);
        }

        &.sm {
            width: unit(round(@font-size * 1), px);
            height: unit(round(@font-size * 1), px);
        }

        &.md {
            width: unit(round(@font-size * 1.2), px);
            height: unit(round(@font-size * 1.2), px);
        }

        &.lg {
            width: unit(round(@font-size * 1.4), px);
            height: unit(round(@font-size * 1.4), px);
        }

        &.xl {
            width: unit(round(@font-size * 1.6), px);
            height: unit(round(@font-size * 1.6), px);
        }
    }

    &[type='color'] {
        padding: 3px;

        &.xs,
        &.sm,
        &.md,
        &.lg,
        &.xl {
            padding: 3px;
        }
    }

    &[type='file'] {
        display: inline-block;
    }
    &[type='range'] {
        display: block;
        width: 100%;
    }

    &[type='radio'][disabled],
    &[type='checkbox'][disabled] {
        cursor: not-allowed;
    }
}

textarea {
    width: 100%;
    padding: unit(round(@font-size * 0.3), px) unit(round(@font-size * 0.8), px);
    overflow: auto;
    font-size: unit(round(@font-size * 1), px);
    border: @border-width solid @color-border;
    border-radius: unit(round(@font-size * 0.3), px);
    outline: none;
    transition: all 0.3s;

    &.xs {
        padding: unit(round(@font-size * 0.2), px) unit(round(@font-size * 0.5), px);
        font-size: unit(round(@font-size * 0.7), px);
        border-radius: unit(round(@font-size * 0.2), px);
    }

    &.sm {
        padding: unit(round(@font-size * 0.2), px) unit(round(@font-size * 0.5), px);
        font-size: unit(round(@font-size * 0.85), px);
        border-radius: unit(round(@font-size * 0.2), px);
    }

    &.md {
        padding: unit(round(@font-size * 0.3), px) unit(round(@font-size * 0.8), px);
    }

    &.lg {
        padding: unit(round(@font-size * 0.3), px) unit(round(@font-size * 0.8), px);
    }

    &.xl {
        padding: unit(round(@font-size * 0.4), px) unit(round(@font-size * 0.8), px);
        font-size: unit(round(@font-size * 1.15), px);
    }

    &:focus {
        border: @border-width solid @color-primary;
        box-shadow: 0 0 3px lighten(@color-primary, 20%);
    }
}

select {
    text-transform: none;
    outline: none;

    &[multiple] {
        padding: 0;

        option {
            padding: unit(round(@font-size * 0.3), px) unit(round(@font-size * 0.6), px);
        }

        &::-webkit-scrollbar-track {
            background-color: lighten(@color-border, 50%);
        }

        &::-webkit-scrollbar {
            width: unit(round(@font-size * 0.8), px);
            height: unit(round(@font-size * 0.8), px);
            background-color: lighten(@color-border, 50%);
        }

        &::-webkit-scrollbar-thumb {
            cursor: pointer;
            background-color: @color-border;
            border-radius: 0;
        }
    }

    &[multiple],
    &[size] {
        height: auto;
    }

    optgroup {
        font-weight: bold;
    }
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: unit(round(@font-size * 0.6), px);
    font-size: unit(round(@font-size * 1.2), px);
    line-height: inherit;
    color: inherit;
    border: 0;
    border-bottom: @border-width solid @color-border;
}

label {
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
}

output {
    display: inline-block;
}

p {
    margin-top: 0;
    margin-bottom: unit(@font-size, px);
}

blockquote {
    padding: unit(round(@font-size * 0.8), px) unit(round(@font-size * 1.2), px);
    margin: 0;
    font-size: unit(round(@font-size * 1.2), px);
    border-left: unit(round(@font-size * 0.3), px) solid @color-border;

    p {
        margin: 0;
    }

    footer,
    small {
        display: block;
        font-size: 80%;
        color: @color-dark;

        &::before {
            content: '\2014 \00A0';
        }
    }
}

address {
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    padding: 0;
    margin: 0;
    list-style: none;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
}

table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
    border-color: @color-border;

    caption {
        padding: unit(round(@font-size * 0.7), px);
        font-size: unit(round(@font-size * 1.2), px);
        color: @color-dark;
    }

    &:not([border]) caption {
        border-bottom: @border-width solid @color-border;
    }

    tr {
        transition: all 0.3s;

        th,
        td {
            padding: unit(round(@font-size * 0.7), px);
            vertical-align: top;
            border-top: @border-width solid @color-border;
        }

        &:first-child th,
        &:first-child td {
            border-top: 0;
        }

        &:hover {
            background: lighten(@color-border, 5%);
        }
    }

    thead {
        tr {
            &:hover {
                background: none;
            }

            th {
                vertical-align: bottom;
                border-bottom: @border-width solid @color-border;
            }
        }
    }

    &[border] {
        th,
        td {
            border: @border-width solid @color-border;
        }
    }
}

.h-x(@i:1) when(@i < 7) {
    h@{i},
    .h@{i} {
        font-size: unit(round(@font-size * (2.25 - 0.25 * (@i - 1))), px);
    }

    .h-x(@i + 1);
}
