.bordercolor(@i:length(@style)) when(@i > 0) {
    @name: extract(@style, @i);

    .border-@{name} {
        @value: ~'color-@{name}';

        border-color: @@value;
    }

    .border-@{name}-light {
        @value: ~'color-@{name}-light';

        border-color: @@value;
    }

    .bordercolor(@i - 1);
}

.border {
    border: @border-width solid @color-border;
}

.border-top {
    border-top: @border-width solid @color-border;
}

.border-right {
    border-right: @border-width solid @color-border;
}

.border-bottom {
    border-bottom: @border-width solid @color-border;
}

.border-left {
    border-left: @border-width solid @color-border;
}

.border-0 {
    border-width: 0;
}

.border-top-0 {
    border-top-width: 0;
}

.border-right-0 {
    border-right-width: 0;
}

.border-bottom-0 {
    border-bottom-width: 0;
}

.border-left-0 {
    border-left-width: 0;
}

.bordercolor();

.rounded {
    border-radius: 5%;
}

.rounded-top {
    border-top-left-radius: unit(round(@font-size * 0.3), px);
    border-top-right-radius: unit(round(@font-size * 0.3), px);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.rounded-right {
    border-top-left-radius: 0;
    border-top-right-radius: unit(round(@font-size * 0.3), px);
    border-bottom-right-radius: unit(round(@font-size * 0.3), px);
    border-bottom-left-radius: 0;
}

.rounded-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: unit(round(@font-size * 0.3), px);
    border-bottom-left-radius: unit(round(@font-size * 0.3), px);
}

.rounded-left {
    border-top-left-radius: unit(round(@font-size * 0.3), px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: unit(round(@font-size * 0.3), px);
}

.rounded-circle {
    border-radius: 50%;
}
