.flex {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.row {
        flex-direction: row;
    }

    &.col {
        flex-direction: column;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    &.reverse {
        flex-wrap: wrap-reverse;
    }

    &.col-top {
        align-items: flex-start;
    }

    &.col-center {
        align-items: center;
    }

    &.col-bottom {
        align-items: flex-end;
    }

    &.row-left {
        justify-content: flex-start;
    }

    &.row-center {
        justify-content: center;
    }

    &.row-right {
        justify-content: flex-end;
    }

    &.row-between {
        justify-content: space-between;
    }

    &.row-around {
        justify-content: space-around;
    }

    .flex-flex();
}

.flex-flex(@i:1) when(@i < 25) {
    .flex-@{i} {
        flex: @i;
    }

    .flex-flex(@i + 1);
}
