@import '../../base/style/theme.less';

.@{prefix}-button {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    line-height: 1;
    text-transform: none;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    border: @border-width solid @color-border;
    border-radius: 0;
    outline: none;
    transition: all 0.36s;

    &::after {
        display: none;
    }

    .@{prefix}-button-hover-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        pointer-events: none;
        background: rgba(255, 255, 255, 0.5);
        transform: scale(0, 1);
    }

    &.button-hover {
        .@{prefix}-button-hover-bg {
            display: block;
            animation: mb-button-hover 0.5s linear;
        }
    }

    &.@{prefix}-button-disabled {
        cursor: not-allowed;
    }

    &.@{prefix}-button-default {
        &.@{prefix}-button-dashed {
            border-style: dashed;

            &:not(.@{prefix}-button-disabled):hover {
                background-color: mix(#fff, @color-border, 50%);
            }
        }

        &.@{prefix}-button-ghost {
            background-color: transparent;

            .@{prefix}-button-hover-bg {
                background: @color-border;
            }

            &:not(.@{prefix}-button-disabled):hover {
                color: mix(#fff, @color, 30%);
                border-color: mix(#fff, @color-border, 30%);
            }
        }

        &.@{prefix}-button-plain {
            &:not(.@{prefix}-button-disabled):hover {
                color: @color-primary;
                border-color: @color-primary;
            }
        }

        &.@{prefix}-button-link {
            background-color: transparent;
            border-color: transparent;

            &:not(.@{prefix}-button-disabled):hover {
                color: mix(#fff, @color, 20%);
            }
        }
    }

    .button-size();
    .button-type();

    &.@{prefix}-button-circle {
        padding: 0;
        border-radius: 50%;

        .button-circle-size();

        .@{prefix}-button-hover-bg {
            border-radius: 50%;
            transform: scale(0, 0);
        }
    }

    &.@{prefix}-button-round {
        border-radius: unit(round(@font-size * 2.45), px);

        .@{prefix}-button-hover-bg {
            border-radius: unit(round(@font-size * 2.45), px);
        }

        .button-round-size();
    }

    &.@{prefix}-button-pill {
        border-radius: unit(round(@font-size * 0.3), px);

        .@{prefix}-button-hover-bg {
            border-radius: unit(round(@font-size * 0.3), px);
        }
    }

    &.@{prefix}-button-square {
        border-radius: 0;
    }

    &.@{prefix}-button-block {
        justify-content: center;
        width: 100%;

        &.button-hover {
            .@{prefix}-button-hover-bg {
                animation: mb-button-hover 1s linear;
            }
        }
    }

    .@{prefix}-button-span {
        display: flex;
        align-items: center;
    }
}

@keyframes mb-button-hover {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.button-size(@i:length(@size)) when(@i > 0) {
    @name: extract(@size, @i);

    &.@{prefix}-button-@{name} {
        height: unit(round(@font-size * (1.85 + (@i - 1) * 0.3)), px);
        padding: 0 unit(round(@font-size * (0.8 + (@i - 1) * 0.2)), px);
        font-size: unit(round(@font-size * (0.7 + (@i - 1) * 0.15)), px);
    }

    .button-size(@i - 1);
}

.button-circle-size(@i:length(@size)) when(@i > 0) {
    @name: extract(@size, @i);

    &.@{prefix}-button-@{name} {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: unit(round(@font-size * (1.85 + (@i - 1) * 0.3)), px);
    }

    .button-circle-size(@i - 1);
}

.button-round-size(@i:length(@size)) when(@i > 0) {
    @name: extract(@size, @i);

    &.@{prefix}-button-@{name} {
        border-radius: unit(round(@font-size * (1.85 + (@i - 1) * 0.3)), px);

        .@{prefix}-button-hover-bg {
            border-radius: unit(round(@font-size * (1.85 + (@i - 1) * 0.3)), px);
        }
    }

    .button-round-size(@i - 1);
}

.button-type(@i:length(@style)) when(@i > 0) {
    @name: extract(@style, @i);

    &.@{prefix}-button-@{name} {
        @value: ~'color-@{name}';
        @light: ~'color-@{name}-light';
        @lighter: ~'color-@{name}-lighter';

        color: #fff;
        background-color: @@value;
        border-color: @@value;
        border-width: 0;

        &:not(.@{prefix}-button-disabled):hover {
            background-color: mix(#fff, @@value, 20%);
            border-color: mix(#fff, @@value, 20%);
        }

        &.@{prefix}-button-disabled {
            background-color: @@light;
            border-color: @@light;
        }

        &.@{prefix}-button-dashed {
            color: @@value;
            background-color: @@lighter;
            border-style: dashed;
            border-width: @border-width;

            .@{prefix}-button-hover-bg {
                background: @@light;
            }

            &:not(.@{prefix}-button-disabled):hover {
                background-color: transparent;
                border-color: mix(#fff, @@value, 30%);
            }

            &.@{prefix}-button-disabled {
                color: mix(#fff, @@value, 60%);
                border-color: mix(#fff, @@value, 60%);
            }
        }

        &.@{prefix}-button-ghost {
            color: @@value;
            background-color: transparent;
            border-width: @border-width;

            .@{prefix}-button-hover-bg {
                background: @@light;
            }

            &:not(.@{prefix}-button-disabled):hover {
                color: mix(#fff, @@value, 30%);
                background-color: transparent;
                border-color: mix(#fff, @@value, 30%);
            }

            &.@{prefix}-button-disabled {
                color: mix(#fff, @@value, 60%);
                border-color: mix(#fff, @@value, 60%);
            }
        }

        &.@{prefix}-button-plain {
            color: @@value;
            background-color: @@lighter;
            border-color: @@value;
            border-width: @border-width;

            &:not(.@{prefix}-button-disabled):hover {
                color: #fff;
                background-color: @@value;
            }

            &.@{prefix}-button-disabled {
                color: mix(#fff, @@value, 60%);
                background-color: @@lighter;
                border-color: @@light;
            }
        }

        &.@{prefix}-button-link {
            color: @@value;
            background-color: transparent;
            border-color: transparent;

            &:not(.@{prefix}-button-disabled):hover {
                color: mix(#fff, @@value, 20%);
                background-color: transparent;
            }

            &.@{prefix}-button-disabled {
                color: mix(#fff, @@value, 60%);
            }
        }
    }

    .button-type(@i - 1);
}
