.markdown-content a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
  
.markdown-content a:hover {
    color: #40a9ff;
}
  
.markdown-content a:active {
    color: #096dd9;
}
  
.markdown-content a:active,
.markdown-content a:hover {
    text-decoration: none;
    outline: 0;
}
  
.markdown-content a[disabled] {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    pointer-events: none;
}

.markdown-content h2 .header-anchor, .markdown-content h3 .header-anchor{
    display: none;
}

.markdown-content h2:hover .header-anchor, .markdown-content h3:hover .header-anchor{
    display: inline-block;
}
  
.markdown-content table {
    width: 100%;
    margin-top: 12px;
    color: #34495e;
    font-size: 14px;
    line-height: 1.5;
    border-collapse: collapse;
}
  
.markdown-content table th {
    padding: 8px 10px;
    font-weight: 600;
    text-align: left;
}
  
.markdown-content table th:first-child {
    padding-left: 0;
}
  
.markdown-content table th:last-child {
    padding-right: 0;
}
  
.markdown-content table td {
    padding: 8px;
    border-top: 1px solid #ebedf0;
}
  
.markdown-content table td:first-child {
    padding-left: 0;
}
  
.markdown-content table td:first-child code {
    margin: 0;
    padding: 2px 6px;
    color: #1989fa;
    font-weight: 600;
    font-size: 11px;
    background-color: rgba(25, 137, 250, 0.1);
    border-radius: 20px;
}
  
.markdown-content table td:last-child {
    padding-right: 0;
}
  
.markdown-content table em {
    color: #4fc08d;
    font-size: 14px;
    font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
    font-style: normal;
    -webkit-font-smoothing: auto;
}
  
.markdown-content .hljs {
    display: block;
    overflow-x: auto;
    padding: 12px;
    background: #f0f0f0;
    border-radius: 5px;
}
  
.markdown-content .hljs code {
    font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}
  
.markdown-content .hljs .hljs-comment {
    color: #888888;
}
  
.markdown-content .hljs .hljs-built_in,
.markdown-content .hljs .hljs-bullet,
.markdown-content .hljs .hljs-code,
.markdown-content .hljs .hljs-addition {
    color: #0b8235;
}
  
.markdown-content .hljs .hljs-attr {
    color: #945daa;
}
  
.markdown-content .hljs .hljs-keyword,
.markdown-content .hljs .hljs-attribute,
.markdown-content .hljs .hljs-selector-tag,
.markdown-content .hljs .hljs-meta-keyword,
.markdown-content .hljs .hljs-doctag,
.markdown-content .hljs .hljs-name {
    color: #f81d22;
}
  
.markdown-content .hljs .hljs-type,
.markdown-content .hljs .hljs-string,
.markdown-content .hljs .hljs-number,
.markdown-content .hljs .hljs-selector-id,
.markdown-content .hljs .hljs-selector-class,
.markdown-content .hljs .hljs-quote,
.markdown-content .hljs .hljs-template-tag,
.markdown-content .hljs .hljs-deletion {
    color: #0b8235;
}
  
.markdown-content .hljs .hljs-title,
.markdown-content .hljs .hljs-section {
    color: #880000;
    font-weight: bold;
}
  
.markdown-content .hljs .hljs-regexp,
.markdown-content .hljs .hljs-symbol,
.markdown-content .hljs .hljs-variable,
.markdown-content .hljs .hljs-template-variable,
.markdown-content .hljs .hljs-link,
.markdown-content .hljs .hljs-selector-attr,
.markdown-content .hljs .hljs-selector-pseudo {
    color: #bc6060;
}
  
.markdown-content .hljs .hljs-literal {
    color: #78a960;
}
  
.markdown-content .hljs .hljs-meta {
    color: #1f7199;
}
  
.markdown-content .hljs .hljs-meta-string {
    color: #4d99bf;
}
  
.markdown-content .hljs .hljs-emphasis {
    font-style: italic;
}
  
.markdown-content .hljs .hljs-strong {
    font-weight: bold;
}
  
.markdown-content .tip,
.markdown-content .warning,
.markdown-content .danger {
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 5px;
}
  
.markdown-content .tip p,
.markdown-content .warning p,
.markdown-content .danger p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #34495e;
}
  
.markdown-content .tip {
    background-color: #ecf5ff;
}
  
.markdown-content .warning {
    background-color: #e6a23c;
}
  
.markdown-content .danger {
    background-color: #f56c6c;
}
  
.markdown-content .warning p,
.markdown-content .danger p {
    color: #ffffff;
}
  
.markdown-content .table-of-contents {
    width: 230px;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 9;
    padding: 20px;
}
  
.markdown-content .table-of-contents ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.markdown-content .table-of-contents ul li {
    width: 100%;
    margin: 3px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.markdown-content .table-of-contents ul li ul {
    margin: 0 0 0 10px;
}

.markdown-content .table-of-contents ul li a {
    text-decoration: none;
    color: rgba(0,0,0,.65);
}

.markdown-content .table-of-contents ul li a:hover{
    color: #1890ff;
}

.markdown-content .table-of-contents ul li ul li a {
    font-size: 13px;
}

.markdown-content .markdown-demo-block{
    margin-top: 12px;
    border: 1px solid #ebedf0;
    border-radius: 5px;
}

.markdown-content .markdown-demo-block .markdown-demo-block-source{
    padding: 12px;
}

.markdown-content .markdown-demo-block .markdown-demo-block-button{
    margin-bottom: 12px;
    text-align: center;
    cursor: pointer;
    color: #aeb0b3;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.markdown-content .markdown-demo-block .markdown-demo-block-button:hover{
    color: inherit;
}

.markdown-content .markdown-demo-block .markdown-demo-block-code .hljs{
    margin: 0;
    border-radius: 0;
}

.markdown-content .markdown-card {
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 5px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.markdown-content .markdown-card:hover {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  color: #212529;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  text-align: left;
  background-color: #ffffff;
}
view,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
details,
details[open] {
  outline: 0;
}
figure {
  margin: 0;
}
menu {
  margin: 0;
  padding: 14px 7px;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
progress {
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none !important;
}
[tabindex='-1']:focus:not(:focus-visible) {
  outline: 0 !important;
}
a {
  color: #409eff;
  text-decoration: none;
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
a:hover {
  color: #0d84ff;
  text-decoration: underline;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  border-bottom: 1px dotted #409eff;
  cursor: help;
  text-decoration-skip-ink: none;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
small {
  font-size: 85%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #409eff;
  font-weight: normal;
  line-height: 1;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin: 0;
  padding: 21px 0 14px 0;
}
h1 small,
h2 small,
h3 small,
.h1 small,
.h2 small,
.h3 small {
  font-size: 65%;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 14px 0 14px 0;
}
h4 small,
h5 small,
h6 small,
.h4 small,
.h5 small,
.h6 small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 35px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 25px;
}
h4,
.h4 {
  font-size: 21px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 14px;
}
mark {
  padding: 4px 8px;
  color: #fff;
  background-color: #343a40;
  border-radius: 4px;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -7px;
}
sub {
  bottom: -7px;
}
img {
  vertical-align: middle;
  border: 0;
  border-style: none;
}
svg {
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
  margin: 14px 0;
  border: 0;
  border-top: 1px solid #dee2e6;
}
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Microsoft YaHei', 'Liberation Mono', 'Courier New', monospace;
}
pre {
  display: block;
  padding: 8px 17px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  page-break-inside: avoid;
  background-color: rgba(0, 0, 0, 0.03);
  border: 0;
  border-radius: 8px;
}
code {
  padding: 4px 8px;
  color: #f56c6c;
  font-size: 90%;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}
pre code,
a code {
  padding: 0;
  color: inherit;
  font-size: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
kbd {
  padding: 4px 8px;
  color: #fff;
  font-size: 90%;
  background-color: #343a40;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-weight: bold;
  font-size: 100%;
  box-shadow: none;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  padding: 10px 20px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
  text-transform: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: 0.1s;
  -webkit-appearance: button;
}
button.xs,
input[type='button'].xs,
input[type='reset'].xs,
input[type='submit'].xs {
  padding: 7px 13px;
  font-size: 10px;
  border-radius: 3px;
}
button.sm,
input[type='button'].sm,
input[type='reset'].sm,
input[type='submit'].sm {
  padding: 8px 14px;
  font-size: 12px;
  border-radius: 3px;
}
button.md,
input[type='button'].md,
input[type='reset'].md,
input[type='submit'].md {
  padding: 10px 20px;
}
button.lg,
input[type='button'].lg,
input[type='reset'].lg,
input[type='submit'].lg {
  padding: 12px 20px;
}
button.xl,
input[type='button'].xl,
input[type='reset'].xl,
input[type='submit'].xl {
  padding: 13px 22px;
  font-size: 16px;
}
button[type='submit'],
input[type='button'][type='submit'],
input[type='reset'][type='submit'],
input[type='submit'][type='submit'] {
  color: #409eff;
  border: 1px solid #409eff;
}
button[type='submit'][disabled],
input[type='button'][type='submit'][disabled],
input[type='reset'][type='submit'][disabled],
input[type='submit'][type='submit'][disabled] {
  color: #a0cfff;
  border: 1px solid #a0cfff;
}
button:not([disabled]):hover,
input[type='button']:not([disabled]):hover,
input[type='reset']:not([disabled]):hover,
input[type='submit']:not([disabled]):hover {
  background-color: #e5e8eb;
}
button:not([disabled]):hover[type='submit']:not([disabled]):hover,
input[type='button']:not([disabled]):hover[type='submit']:not([disabled]):hover,
input[type='reset']:not([disabled]):hover[type='submit']:not([disabled]):hover,
input[type='submit']:not([disabled]):hover[type='submit']:not([disabled]):hover {
  color: #fff;
  background-color: #4aa3ff;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
  outline: none;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  margin: 0;
  padding: 0;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
}
input[type='checkbox'].xs,
input[type='radio'].xs {
  width: 11px;
  height: 11px;
}
input[type='checkbox'].sm,
input[type='radio'].sm {
  width: 14px;
  height: 14px;
}
input[type='checkbox'].md,
input[type='radio'].md {
  width: 17px;
  height: 17px;
}
input[type='checkbox'].lg,
input[type='radio'].lg {
  width: 20px;
  height: 20px;
}
input[type='checkbox'].xl,
input[type='radio'].xl {
  width: 22px;
  height: 22px;
}
input:not([type]),
input[type='text'],
input[type='password'],
input[type='number'],
input[type='search'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[type='color'],
select {
  display: inline-block;
  height: 36px;
  padding: 3px 11px;
  font-size: 14px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}
input:not([type]).xs,
input[type='text'].xs,
input[type='password'].xs,
input[type='number'].xs,
input[type='search'].xs,
input[type='date'].xs,
input[type='datetime'].xs,
input[type='datetime-local'].xs,
input[type='email'].xs,
input[type='month'].xs,
input[type='tel'].xs,
input[type='time'].xs,
input[type='url'].xs,
input[type='week'].xs,
input[type='color'].xs,
select.xs {
  height: 28px;
  padding: 1px 7px;
  font-size: 10px;
  border-radius: 3px;
}
input:not([type]).sm,
input[type='text'].sm,
input[type='password'].sm,
input[type='number'].sm,
input[type='search'].sm,
input[type='date'].sm,
input[type='datetime'].sm,
input[type='datetime-local'].sm,
input[type='email'].sm,
input[type='month'].sm,
input[type='tel'].sm,
input[type='time'].sm,
input[type='url'].sm,
input[type='week'].sm,
input[type='color'].sm,
select.sm {
  height: 30px;
  padding: 1px 7px;
  font-size: 12px;
  border-radius: 3px;
}
input:not([type]).md,
input[type='text'].md,
input[type='password'].md,
input[type='number'].md,
input[type='search'].md,
input[type='date'].md,
input[type='datetime'].md,
input[type='datetime-local'].md,
input[type='email'].md,
input[type='month'].md,
input[type='tel'].md,
input[type='time'].md,
input[type='url'].md,
input[type='week'].md,
input[type='color'].md,
select.md {
  height: 36px;
  padding: 3px 11px;
}
input:not([type]).lg,
input[type='text'].lg,
input[type='password'].lg,
input[type='number'].lg,
input[type='search'].lg,
input[type='date'].lg,
input[type='datetime'].lg,
input[type='datetime-local'].lg,
input[type='email'].lg,
input[type='month'].lg,
input[type='tel'].lg,
input[type='time'].lg,
input[type='url'].lg,
input[type='week'].lg,
input[type='color'].lg,
select.lg {
  height: 40px;
  padding: 3px 11px;
}
input:not([type]).xl,
input[type='text'].xl,
input[type='password'].xl,
input[type='number'].xl,
input[type='search'].xl,
input[type='date'].xl,
input[type='datetime'].xl,
input[type='datetime-local'].xl,
input[type='email'].xl,
input[type='month'].xl,
input[type='tel'].xl,
input[type='time'].xl,
input[type='url'].xl,
input[type='week'].xl,
input[type='color'].xl,
select.xl {
  height: 44px;
  padding: 3px 11px;
  font-size: 16px;
}
textarea {
  width: 100%;
  padding: 4px 11px;
  overflow: auto;
  font-size: 14px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  outline: none;
}
textarea.xs {
  padding: 3px 7px;
  font-size: 10px;
  border-radius: 3px;
}
textarea.sm {
  padding: 3px 7px;
  font-size: 12px;
  border-radius: 3px;
}
textarea.md {
  padding: 4px 11px;
}
textarea.lg {
  padding: 4px 11px;
}
textarea.xl {
  padding: 6px 11px;
  font-size: 16px;
}
input:not([type]):focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
input[type='color']:focus,
select:focus,
textarea:focus {
  border: 1px solid #409eff;
  box-shadow: 0 0 3px #a6d2ff;
}
input[type='color'] {
  padding: 0;
}
input[type='file'] {
  display: inline-block;
}
input[type='range'] {
  display: block;
  width: 100%;
}
input[type='radio'][disabled],
input[type='checkbox'][disabled] {
  cursor: not-allowed;
}
select {
  text-transform: none;
  outline: none;
}
select[multiple] {
  padding: 0;
}
select[multiple] option {
  padding: 4px 8px;
}
select[multiple]::-webkit-scrollbar-track {
  background-color: #ffffff;
}
select[multiple]::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  background-color: #ffffff;
}
select[multiple]::-webkit-scrollbar-thumb {
  background-color: #dee2e6;
  border-radius: 0;
  cursor: pointer;
}
select[multiple],
select[size] {
  height: auto;
}
optgroup {
  font-weight: bold;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  color: inherit;
  font-size: 17px;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid #dee2e6;
}
label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
}
output {
  display: inline-block;
}
blockquote {
  margin: 0;
  padding: 11px 17px;
  font-size: 17px;
  border-left: 4px solid #dee2e6;
}
blockquote footer,
blockquote small {
  display: block;
  color: #343a40;
  font-size: 80%;
}
blockquote footer::before,
blockquote small::before {
  content: '\2014 \00A0';
}
p {
  margin-top: 0;
  margin-bottom: 14px;
}
blockquote p {
  margin: 0;
}
address {
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0;
}
table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-color: #dee2e6;
  border-collapse: collapse;
  border-spacing: 0;
}
table caption {
  padding: 10px;
  color: #343a40;
  font-size: 17px;
}
table:not([border]) caption {
  border-bottom: 1px solid #dee2e6;
}
table th,
table td {
  padding: 10px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
table tr:first-child th,
table tr:first-child td {
  border-top: 0;
}
table thead tr th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}
table tr:hover {
  background: #edeff1;
}
table thead tr:hover {
  background: none;
}
@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: ' (' attr(href) ')';
  }
  abbr[title]::after {
    content: ' (' attr(title) ')';
  }
  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.mbHtmlIntercept {
  alt: none;
}
.text-dark {
  color: #343a40;
}
.text-dark-light {
  color: #aeb0b3;
}
.text-info {
  color: #909399;
}
.text-info-light {
  color: #d3d4d6;
}
.text-danger {
  color: #f56c6c;
}
.text-danger-light {
  color: #fbc4c4;
}
.text-warning {
  color: #e6a23c;
}
.text-warning-light {
  color: #f5dab1;
}
.text-success {
  color: #67c23a;
}
.text-success-light {
  color: #c2e7b0;
}
.text-primary {
  color: #409eff;
}
.text-primary-light {
  color: #b3d8ff;
}
.bg-dark {
  color: #fff;
  background-color: #343a40;
}
.bg-dark-light {
  color: #fff;
  background-color: #aeb0b3;
}
.bg-dark-lighter {
  color: #343a40;
  background-color: #ebebec;
}
.bg-info {
  color: #fff;
  background-color: #909399;
}
.bg-info-light {
  color: #fff;
  background-color: #d3d4d6;
}
.bg-info-lighter {
  color: #909399;
  background-color: #f4f4f5;
}
.bg-danger {
  color: #fff;
  background-color: #f56c6c;
}
.bg-danger-light {
  color: #fff;
  background-color: #fbc4c4;
}
.bg-danger-lighter {
  color: #f56c6c;
  background-color: #fef0f0;
}
.bg-warning {
  color: #fff;
  background-color: #e6a23c;
}
.bg-warning-light {
  color: #fff;
  background-color: #f5dab1;
}
.bg-warning-lighter {
  color: #e6a23c;
  background-color: #fdf6ec;
}
.bg-success {
  color: #fff;
  background-color: #67c23a;
}
.bg-success-light {
  color: #fff;
  background-color: #c2e7b0;
}
.bg-success-lighter {
  color: #67c23a;
  background-color: #f0f9eb;
}
.bg-primary {
  color: #fff;
  background-color: #409eff;
}
.bg-primary-light {
  color: #fff;
  background-color: #b3d8ff;
}
.bg-primary-lighter {
  color: #409eff;
  background-color: #ecf5ff;
}
.border {
  border: 1px solid #dee2e6;
}
.border-top {
  border-top: 1px solid #dee2e6;
}
.border-right {
  border-right: 1px solid #dee2e6;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6;
}
.border-left {
  border-left: 1px solid #dee2e6;
}
.border-0 {
  border: 1px solid #dee2e6;
  border-width: 0;
}
.border-top-0 {
  border: 1px solid #dee2e6;
  border-top-width: 0;
}
.border-right-0 {
  border: 1px solid #dee2e6;
  border-top-width: 0;
}
.border-bottom-0 {
  border: 1px solid #dee2e6;
  border-bottom-width: 0;
}
.border-left-0 {
  border: 1px solid #dee2e6;
  border-left-width: 0;
}
.border-dark {
  border-color: #343a40;
}
.border-dark-light {
  border-color: #aeb0b3;
}
.border-info {
  border-color: #909399;
}
.border-info-light {
  border-color: #d3d4d6;
}
.border-danger {
  border-color: #f56c6c;
}
.border-danger-light {
  border-color: #fbc4c4;
}
.border-warning {
  border-color: #e6a23c;
}
.border-warning-light {
  border-color: #f5dab1;
}
.border-success {
  border-color: #67c23a;
}
.border-success-light {
  border-color: #c2e7b0;
}
.border-primary {
  border-color: #409eff;
}
.border-primary-light {
  border-color: #b3d8ff;
}
.rounded {
  border-radius: 5%;
}
.rounded-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.rounded-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rounded-bottom {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rounded-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rounded-circle {
  border-radius: 50%;
}
.rounded-pill {
  border-radius: 700px;
}
.line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.line-2,
.line-3,
.line-4,
.line-5 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
}
.line-2 {
  -webkit-line-clamp: 2;
}
.line-3 {
  -webkit-line-clamp: 3;
}
.line-4 {
  -webkit-line-clamp: 4;
}
.line-5 {
  -webkit-line-clamp: 5;
}
.font-xs {
  font-size: 10px;
}
.font-sm {
  font-size: 12px;
}
.font-md {
  font-size: 14px;
}
.font-lg {
  font-size: 16px;
}
.font-xl {
  font-size: 18px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex.row {
  flex-direction: row;
}
.flex.column {
  flex-direction: column;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.nowrap {
  flex-wrap: nowrap;
}
.flex.reverse {
  flex-wrap: wrap-reverse;
}
.flex.col-top {
  align-items: flex-start;
}
.flex.col-center {
  align-items: center;
}
.flex.col-bottom {
  align-items: flex-end;
}
.flex.row-left {
  justify-content: flex-start;
}
.flex.row-center {
  justify-content: center;
}
.flex.row-right {
  justify-content: flex-end;
}
.flex.row-between {
  justify-content: space-between;
}
.flex.row-around {
  justify-content: space-around;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.layout {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.layout .layout-left {
  position: relative;
  width: 230px;
  height: 100%;
  border-right: 1px solid #e1e4e8;
  -webkit-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
}
.layout .layout-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.layout .layout-left ul h3 {
  padding-left: 10px;
}
.layout .layout-left ul ul li {
  padding: 10px 0 10px 30px;
}
.layout .layout-left ul ul li a {
  display: block;
  color: initial;
  text-decoration: none;
}
.layout .layout-left ul ul li.active {
  background-color: #e6f7ff;
}
.layout .layout-left ul ul li.active a {
  color: #1890ff;
}
.layout .layout-left > ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.layout .layout-content {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
}
.layout .layout-content .markdown-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-right: 230px;
  overflow-x: hidden;
  overflow-y: auto;
}
.layout .layout-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.layout .layout-home .table-of-contents {
  display: none;
}

