@import '../../base/style/theme.less';

.@{prefix}-switch {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    background-color: @color-info;
    transition: all 0.2s;

    .@{prefix}-switch-label {
        display: block;
        display: flex;
        align-items: center;
        height: 100%;
        color: #fff;
        transition: all 0.38s cubic-bezier(0.78, 0.14, 0.15, 0.86);

        .@{prefix}-icon {
            margin-left: -3px;

            .@{prefix}-icon-icon {
                line-height: normal;
            }
        }
    }

    .@{prefix}-switch-botton {
        position: absolute;
        top: unit(round(@font-size * 0.1), px);
        left: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        color: @color-primary;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
        transition: all 0.38s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    }

    .switch-size();

    &.@{prefix}-switch-checked {
        background-color: @color-primary;

        .@{prefix}-switch-botton {
            margin-left: 2px;
            transform: translateX(100%);
        }

        .switch-checked-size();
    }

    &.@{prefix}-switch-disabled {
        cursor: not-allowed;
        opacity: 0.6 !important;
    }
}

.switch-size(@i:length(@size)) when(@i > 0) {
    @name: extract(@size, @i);

    &.@{prefix}-switch-@{name} {
        min-width: unit(round(@font-size * (1 + @i * 0.2)) * 2, px);
        height: unit(round(@font-size * (1 + @i * 0.2)), px);
        border-radius: unit(round(@font-size * (1 + @i * 0.2)), px);

        .@{prefix}-switch-label {
            margin-left: unit(round(@font-size * (1 + @i * 0.25)), px);
            font-size: if((@name = ~'xs') or (@name = ~'sm'), unit(round(@font-size * 0.8), px), unit(@font-size, px));
            line-height: unit(round(@font-size * (1 + @i * 0.2)), px);
        }

        .@{prefix}-switch-botton {
            width: unit(round(@font-size * (1 + @i * 0.2)) - 2, px);
            height: unit(round(@font-size * (1 + @i * 0.2)) - 2, px);
        }
    }

    .switch-size(@i - 1);
}

.switch-checked-size(@i:length(@size)) when(@i > 0) {
    @name: extract(@size, @i);

    &.@{prefix}-switch-@{name} {
        .@{prefix}-switch-label {
            margin-left: unit(round(@font-size * (0.2 + @i * 0.1)), px);
        }
    }

    .switch-checked-size(@i - 1);
}
