@import '../../base/style/theme.less';

.@{prefix}-checkbox {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;

    &:focus {
        outline: none !important;
    }

    .@{prefix}-checkbox-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: unit(round(@font-size * 0.15), px);
        overflow: hidden;
        border: @border-width solid @color-info;
        transition: all 0.3s;

        .@{prefix}-checkbox-icon-round {
            overflow: hidden;
            opacity: 0;
            transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
            transform: rotate(45deg) scale(0) translate(-50%, -50%);
        }

        .checkbox-size();

        &.@{prefix}-checkbox-icon-circle {
            border-radius: 50%;
        }

        &.@{prefix}-checkbox-icon-pill {
            border-radius: unit(round(@font-size * 0.2), px);
        }

        &.@{prefix}-checkbox-icon-square {
            border-radius: 0;
        }
    }

    &.@{prefix}-checkbox-label {
        flex: 1;
    }

    &.@{prefix}-checkbox-checked {
        .@{prefix}-checkbox-icon {
            background-color: @color-primary;
            border-color: @color-primary;

            .@{prefix}-checkbox-icon-round {
                opacity: 1;
                transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
                transform: rotate(45deg) scale(1) translate(-10%);
            }
        }
    }

    &.@{prefix}-checkbox-indeterminate {
        .checkbox-indeterminate-size();

        .@{prefix}-checkbox-icon {
            &.@{prefix}-checkbox-icon-circle {
                .@{prefix}-checkbox-icon-round {
                    border-radius: 50%;
                }
            }

            &.@{prefix}-checkbox-icon-pill {
                .@{prefix}-checkbox-icon-round {
                    border-radius: unit(round(@font-size * 0.15), px);
                }
            }
        }

        &.@{prefix}-checkbox-checked {
            .@{prefix}-checkbox-icon {
                background-color: transparent !important;

                .@{prefix}-checkbox-icon-round {
                    background-color: @color-primary;
                    border: 0;
                    transform: rotate(0) scale(1) translate(0);
                }
            }
        }
    }

    &.@{prefix}-checkbox-disabled {
        cursor: not-allowed;
        opacity: 0.6 !important;

        &.@{prefix}-checkbox-checked {
            .@{prefix}-checkbox-icon {
                background-color: @color-info !important;
                border-color: @color-info !important;
            }
        }

        &.@{prefix}-checkbox-indeterminate {
            &.@{prefix}-checkbox-checked {
                .@{prefix}-checkbox-icon {
                    background-color: transparent !important;

                    .@{prefix}-checkbox-icon-round {
                        background-color: @color-info !important;
                    }
                }
            }
        }
    }
}

.checkbox-size(@i:length(@size)) when(@i > 0) {
    @name: extract(@size, @i);

    &.@{prefix}-checkbox-icon-@{name} {
        width: unit(ceil(@font-size * (0.8 + (@i - 1) * 0.2)), px);
        height: unit(ceil(@font-size * (0.8 + (@i - 1) * 0.2)), px);

        .@{prefix}-checkbox-icon-round {
            width: unit(round(@font-size * (0.2 + (@i - 1) * 0.1)), px);
            height: unit(round(@font-size * (0.5 + (@i - 1) * 0.1)), px);
            border-right: if((@name = ~'xs') or (@name = ~'sm'), 1px solid #fff, 2px solid #fff);
            border-bottom: if((@name = ~'xs') or (@name = ~'sm'), 1px solid #fff, 2px solid #fff);
        }
    }

    .checkbox-size(@i - 1);
}

.checkbox-indeterminate-size(@i:length(@size)) when(@i > 0) {
    @name: extract(@size, @i);

    .@{prefix}-checkbox-icon-@{name} {
        .@{prefix}-checkbox-icon-round {
            width: unit(round(@font-size * (0.4 + (@i - 1) * 0.2)), px);
            height: unit(round(@font-size * (0.4 + (@i - 1) * 0.2)), px);
        }
    }

    .checkbox-indeterminate-size(@i - 1);
}
